<div li-block="Button Wrapper" li-block:category="Content" li-block:tag="" class="u-button-wrapper" style="">
                    
                      
                    <div class="u-display-contents">
                        <div data-wf--button-main--variant="primary" class="button_main_wrap" data-button=" " data-trigger="hover focus" li-block="Button" li-block:category="CTA" {{ block.shopify_attributes }}>
                    
                          
                    <div class="clickable_wrap u-cover-absolute">
                            <a li-settings-a:target="" href="{{ block.settings.url_link }}" class="clickable_link w-inline-block"> <span class="clickable_text u-sr-only">{{ block.settings.text_screen_reader }}</span> </a><button li-settings-a:type="button" class="clickable_btn"><span class="clickable_text u-sr-only">
{{ block.settings.text_screen_reader }}
</span></button>
                          </div>
                    
                          
                    <div class="button_main_element">
                            <div aria-hidden="true" class="button_main_text u-text-style-main">Button Text</div>
                            <div class="button_main_icon u-hide-if-empty"></div>
                            <div class="button_main_line"></div>
                          </div>
                    
                          
                    
                    
                          
                    <div>
{{ block.settings.text_test }}
</div>
                    
                        
                </div>
                        <div data-wf--button-main--variant="primary" class="button_main_wrap" data-button=" " data-trigger="hover focus" li-block="Button" li-block:category="CTA" {{ block.shopify_attributes }}>
                    
                          
                    <div class="clickable_wrap u-cover-absolute">
                            <a li-settings-a:target="" href="{{ block.settings.url_link }}" class="clickable_link w-inline-block"> <span class="clickable_text u-sr-only">{{ block.settings.text_screen_reader }}</span> </a><button li-settings-a:type="button" class="clickable_btn"><span class="clickable_text u-sr-only">
{{ block.settings.text_screen_reader }}
</span></button>
                          </div>
                    
                          
                    <div class="button_main_element">
                            <div aria-hidden="true" class="button_main_text u-text-style-main">Button Text</div>
                            <div class="button_main_icon u-hide-if-empty"></div>
                            <div class="button_main_line"></div>
                          </div>
                    
                          
                    
                    
                          
                    <div>
{{ block.settings.text_test }}
</div>
                    
                        
                </div>
                      </div>
                    
                    
                </div> {% schema %} {
    "name": "Button Wrapper",
    "settings": [],
    "presets": [
        {
            "name": "Button Wrapper",
            "category": "Content",
            "blocks": []
        }
    ],
    "tag": ""
} {% endschema %}