<div li-block="Content 3" {{ block.shopify_attributes }}>
                    
                  
                    <div class="u-layout-column-1">
                    <div li-block:category="Text" li-block="Heading" data-number="" class="u-text-2 h2 w-richtext " {{ block.shopify_attributes }}>
                    
                      
                    <h2>Lorem ipsum dolor sit amet elit</h2>
                    
                    
                </div>
                    <div li-block:tag="div" li-block:category="Text" data-number="" li-block="_Paragraph" class="u-text-2 w-richtext u-rich-text">
                    
                      
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    
                    
                </div>
                    <div class="u-button-wrapper" style="" li-block="Button Wrapper" li-block:category="Layout" {{ block.shopify_attributes }}>
                    
                      
                    <div class="u-display-contents">
                        <div class="button_main_wrap {{block.settings.variant}}" data-button=" " data-trigger="hover focus" li-block="Button" li-block:category="CTA" {{ block.shopify_attributes }}>
                    
                          
                    
                    
                          
                    <div class="clickable_wrap u-cover-absolute">
                            
                            <a target="{% if block.settings.new_tab %}_blank{% endif %}" href="{{ block.settings.url_link }}" class="clickable_link w-inline-block"> <span class="clickable_text u-sr-only">{{ block.settings.text_button_lable }}</span> </a>
                          </div>
                    
                          
                    <div class="button_main_element {{block.settings.variant}}">
                            <div aria-hidden="true" class="button_main_text u-text-style-main">
{{ block.settings.text_label }}
</div>
                            <div class="button_main_icon"><svg viewbox="0 0 66 70" fill="none" width="100%" height="100%" aria-hidden="true" class="u-svg">
                                <path d="M17 2L50 34.9999L17 68" class="u-path"></path>
                              </svg></div>
                            <div class="button_main_line {{block.settings.variant}}"></div>
                          </div>
                    
                        
                </div>
                        <div class="button_main_wrap secondary {{block.settings.variant}}" data-button=" " data-trigger="hover focus" li-block="Button" li-block:category="CTA" {{ block.shopify_attributes }}>
                    
                          
                    
                    
                          
                    <div class="clickable_wrap u-cover-absolute">
                            
                            <a target="{% if block.settings.new_tab %}_blank{% endif %}" href="{{ block.settings.url_link }}" class="clickable_link w-inline-block"> <span class="clickable_text u-sr-only">{{ block.settings.text_button_lable }}</span> </a>
                          </div>
                    
                          
                    <div class="button_main_element secondary-3 {{block.settings.variant}}">
                            <div aria-hidden="true" class="button_main_text u-text-style-main secondary-4">
{{ block.settings.text_label }}
</div>
                            <div class="button_main_icon secondary-5"><svg viewbox="0 0 66 70" fill="none" width="100%" height="100%" aria-hidden="true" class="u-svg">
                                <path d="M17 2L50 34.9999L17 68" class="u-path"></path>
                              </svg></div>
                            <div class="button_main_line secondary-6 {{block.settings.variant}}"></div>
                          </div>
                    
                        
                </div>
                      </div>
                    
                    
                </div>
                  </div>
                    
                
                </div> {% schema %} {
    "name": "Content 3",
    "settings": [],
    "presets": [
        {
            "name": "Content 3",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}