<div class="u-section-inner {{section.settings.color_theme}}">
          <div data-wf--spacer--variant="main" class="u-section-spacer u-ignore-trim {{section.settings.padding_top}}"></div>
          <div class="benefits_contain u-container-small">
            <div class="benefits_layout u-grid-autofill u-gap-row-6">
              {% for block in section.blocks %}
    {% if block.type == "benefits-block" %}
                    <div li-block="Benefits Block" class="benefits_card_wrap u-alignment-center">
                                    
                
                                    <div class="benefits_card_img_wrap u-position-relative u-ratio-1-1 u-margin-bottom-5">{% if block.settings.image_image %}
{{ block.settings.image_image | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'benefits_card_img u-cover-absolute' }}
{% else %}
<img src="{{ 'placeholder.svg' | asset_url }}" loading="lazy" alt="" class="benefits_card_img u-cover-absolute">
{% endif %}</div>
                                    
                
                                    <p style="max-width: {{ block.settings.header_max_width | append: 'em' }};" class="benefits_card_txt u-text-style-h4 u-text-transform-uppercase u-margin-inline-auto">
{{ block.settings.text_title }}
</p>
                                    
                
                                    
                                    
              
                            </div>
            {% endif %}
{% endfor %}
            </div>
          </div>
          <div data-wf--spacer--variant="main" class="u-section-spacer u-ignore-trim {{section.settings.padding_bottom}}"></div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Benefits",
    "class": "benefits_wrap u-section",
    "blocks": [
        {
            "name": "Benefits Block",
            "type": "benefits-block",
            "settings": [
                {
                    "id": "image_image",
                    "type": "image_picker",
                    "label": "Image"
                },
                {
                    "id": "text_title",
                    "type": "text",
                    "label": "Title",
                    "default": "No Nitrates"
                },
                {
                    "type": "header",
                    "content": "Header Max Width"
                },
                {
                    "type": "range",
                    "id": "header_max_width",
                    "label": "header-max-width",
                    "default": 50,
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "em"
                }
            ]
        }
    ],
    "settings": [
        {
            "type": "header",
            "content": "Padding Top"
        },
        {
            "type": "select",
            "id": "padding_top",
            "label": "Padding Top",
            "default": "w-variant-60a7ad7d-02b0-6682-95a5-2218e6fd1490",
            "options": [
                {
                    "label": "Inherit",
                    "value": ""
                },
                {
                    "label": "None",
                    "value": "u-section-spacer"
                },
                {
                    "label": "Small",
                    "value": "w-variant-d422cbd0-f212-c815-68df-63414354c21d"
                },
                {
                    "label": "Even",
                    "value": "w-variant-41fc0c0a-cac3-53c9-9802-6a916e3fb342"
                },
                {
                    "label": "Main",
                    "value": "w-variant-60a7ad7d-02b0-6682-95a5-2218e6fd1490"
                },
                {
                    "label": "Large",
                    "value": "w-variant-8cc18b30-4618-8767-0111-f6abfe45aaa3"
                },
                {
                    "label": "Page Top",
                    "value": "w-variant-e359d2da-de19-6775-b122-3e06f925f39e"
                }
            ]
        },
        {
            "type": "header",
            "content": "Padding Bottom"
        },
        {
            "type": "select",
            "id": "padding_bottom",
            "label": "Padding Bottom",
            "default": "w-variant-60a7ad7d-02b0-6682-95a5-2218e6fd1490",
            "options": [
                {
                    "label": "Inherit",
                    "value": ""
                },
                {
                    "label": "None",
                    "value": "u-section-spacer"
                },
                {
                    "label": "Small",
                    "value": "w-variant-d422cbd0-f212-c815-68df-63414354c21d"
                },
                {
                    "label": "Even",
                    "value": "w-variant-41fc0c0a-cac3-53c9-9802-6a916e3fb342"
                },
                {
                    "label": "Main",
                    "value": "w-variant-60a7ad7d-02b0-6682-95a5-2218e6fd1490"
                },
                {
                    "label": "Large",
                    "value": "w-variant-8cc18b30-4618-8767-0111-f6abfe45aaa3"
                },
                {
                    "label": "Page Top",
                    "value": "w-variant-e359d2da-de19-6775-b122-3e06f925f39e"
                }
            ]
        },
        {
            "type": "header",
            "content": "Theme"
        },
        {
            "type": "select",
            "id": "color_theme",
            "label": "Color Theme",
            "default": "",
            "options": [
                {
                    "label": "Inherit",
                    "value": ""
                },
                {
                    "label": "Dark",
                    "value": "u-theme-dark"
                },
                {
                    "label": "Light",
                    "value": "u-theme-light"
                },
                {
                    "label": "Brand",
                    "value": "u-theme-brand"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Benefits",
            "category": "Information",
            "blocks": [
                {
                    "type": "benefits-block"
                }
            ]
        }
    ],
    "enabled_on": {
        "templates": [
            "*"
        ]
    }
} {% endschema %}