<div class="u-section-inner {{section.settings.color_theme}}">
          <div data-wf--spacer--variant="main" class="u-section-spacer u-ignore-trim {{section.settings.padding_top}}"></div>
          <div class="u-container  ">
            <div data-wf--layout--variant="stack-centered" class="u-layout-wrapper">
              <div class="u-layout">
                <div class="u-layout-column-1 w-variant-a55018ed-7206-81d4-6e8b-c7a3a2efd063  ">
                  <div class="u-eyebrow-wrapper">
                    <div class="u-eyebrow-layout">
                      <div class="u-eyebrow-marker"></div>
                      <div class="u-eyebrow-text u-text-style-main w-richtext">
{{ section.settings.text_eyebrow_heading }}
</div>
                    </div>
                  </div>
                  <div data-number="20" data-wf--typography-heading--variant="h2" class="u-text w-variant-433d40c6-c261-f13f-c899-61d2cadf150f w-richtext ">
{{ section.settings.text_heading }}
</div>
                  <div data-number="block.settings.max_width" data-wf--typography-paragraph--variant="inherit" class="u-text u-rich-text w-richtext "> {{ section.settings.richtext_praragraph }} </div>
                  {% for block in section.blocks %}
    {% if block.type == "button-wrapper" %}
                    <div class="u-button-wrapper" style="" li-block="Button Wrapper">
                                    
                    
                                    <div li-cf-theme-blocks="" class="u-display-contents">
{% content_for 'blocks' %}
</div>
                                    
                  
                            </div>
            {% endif %}
{% endfor %}
                </div>
                <div class="u-layout-column-2 w-variant-a55018ed-7206-81d4-6e8b-c7a3a2efd063  ">
                  {% content_for "block", type: "grid", id: "grid" %}
                </div>
              </div>
            </div>
          </div>
          <div data-wf--spacer--variant="main" class="u-section-spacer u-ignore-trim {{section.settings.padding_bottom}}"></div>
          {% content_for "block", type: "background", id: "background" %}
        </div> {% schema %} {
    "tag": "section",
    "name": "Bento Complex",
    "class": "u-section",
    "blocks": [
        {
            "type": "button"
        },
        {
            "type": "@app"
        }
    ],
    "settings": [
        {
            "id": "text_eyebrow_heading",
            "type": "text",
            "label": "Eyebrow Heading",
            "default": "\n                        <p>Eyebrow Text Here<\/p>\n                      "
        },
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "\n                    <h2>Lorem ipsum dolor sit amet elit<\/h2>\n                  "
        },
        {
            "id": "richtext_praragraph",
            "type": "richtext",
            "label": "Praragraph",
            "default": "<p>\n                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.\n                  <\/p>"
        },
        {
            "type": "header",
            "content": "Section Settings"
        },
        {
            "type": "select",
            "id": "padding_top",
            "label": "Padding Top",
            "default": "w-variant-60a7ad7d-02b0-6682-95a5-2218e6fd1490",
            "options": [
                {
                    "label": "Inherit",
                    "value": ""
                },
                {
                    "label": "None",
                    "value": "u-section-spacer"
                },
                {
                    "label": "Small",
                    "value": "w-variant-d422cbd0-f212-c815-68df-63414354c21d"
                },
                {
                    "label": "Even",
                    "value": "w-variant-41fc0c0a-cac3-53c9-9802-6a916e3fb342"
                },
                {
                    "label": "Main",
                    "value": "w-variant-60a7ad7d-02b0-6682-95a5-2218e6fd1490"
                },
                {
                    "label": "Large",
                    "value": "w-variant-8cc18b30-4618-8767-0111-f6abfe45aaa3"
                },
                {
                    "label": "Page Top",
                    "value": "w-variant-e359d2da-de19-6775-b122-3e06f925f39e"
                }
            ]
        },
        {
            "type": "select",
            "id": "padding_bottom",
            "label": "Padding Bottom",
            "default": "",
            "options": [
                {
                    "label": "Inherit",
                    "value": ""
                },
                {
                    "label": "None",
                    "value": "u-section-spacer"
                },
                {
                    "label": "Small",
                    "value": "w-variant-d422cbd0-f212-c815-68df-63414354c21d"
                },
                {
                    "label": "Even",
                    "value": "w-variant-41fc0c0a-cac3-53c9-9802-6a916e3fb342"
                },
                {
                    "label": "Main",
                    "value": "w-variant-60a7ad7d-02b0-6682-95a5-2218e6fd1490"
                },
                {
                    "label": "Large",
                    "value": "w-variant-8cc18b30-4618-8767-0111-f6abfe45aaa3"
                },
                {
                    "label": "Page Top",
                    "value": "w-variant-e359d2da-de19-6775-b122-3e06f925f39e"
                }
            ]
        },
        {
            "type": "select",
            "id": "color_theme",
            "label": "Color Theme",
            "default": "",
            "options": [
                {
                    "label": "Inherit",
                    "value": ""
                },
                {
                    "label": "Dark",
                    "value": "w-variant-857e5430-97c7-deb6-3c1a-d3063f9fe2c7"
                },
                {
                    "label": "Light",
                    "value": "w-variant-a4eabb01-8ed6-63d0-157e-0a7b56aedaa1"
                },
                {
                    "label": "Brand",
                    "value": "w-variant-25bf08d9-3196-322b-5616-019ac7f0f4f7"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Bento Complex",
            "category": "Liquiflow",
            "blocks": [
                {
                    "type": "button-wrapper",
                    "blocks": [
                        {
                            "type": "button"
                        },
                        {
                            "type": "button"
                        }
                    ]
                },
                {
                    "type": "grid",
                    "static": true,
                    "id": "grid",
                    "blocks": [
                        {
                            "type": "slide"
                        },
                        {
                            "type": "slide"
                        },
                        {
                            "type": "slide"
                        },
                        {
                            "type": "slide"
                        },
                        {
                            "type": "slide"
                        }
                    ]
                },
                {
                    "type": "background",
                    "static": true,
                    "id": "background"
                }
            ]
        }
    ],
    "enabled_on": {
        "templates": [
            "*"
        ]
    }
} {% endschema %}