<div class="u-embed-css w-embed">
        <style>
/* Main Column Links */
.footer_group_list:hover .footer_group_item .footer_link_text,
.footer_group_list:focus-within .footer_group_item .footer_link_text {
  color: color-mix(in srgb, var(--_theme---text) 50%, transparent) !important;
}
.footer_group_list .footer_group_item .footer_link_text:hover,
.footer_group_list .footer_group_item .footer_link_text:focus {
  color: color-mix(in srgb, var(--_theme---text) 100%, transparent) !important;
}
/* Policy Links */
.footer_bottom_list:hover .footer_bottom_text,
.footer_bottom_list:focus-within .footer_bottom_text {
  color: color-mix(in srgb, var(--_theme---text) 50%, transparent) !important;
}
.footer_bottom_list .footer_bottom_text:hover,
.footer_bottom_list .footer_bottom_text:focus {
  color: color-mix(in srgb, var(--_theme---text) 100%, transparent) !important;
}
</style>
      </div>
      <div class="footer_border_wrap">
        <div class="footer_border_contain">
          <div class="footer_border_layout">
            <div class="footer_border_img_wrap u-position-relative">{% if section.settings.image_border %}
{{ section.settings.image_border | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'footer_border_img u-cover-absolute' }}
{% else %}
<img src="{{ 'placeholder.svg' | asset_url }}" loading="lazy" alt="" class="footer_border_img u-cover-absolute">
{% endif %}</div>
          </div>
        </div>
      </div>
      <div class="u-section-inner {{section.settings.color_theme}}">
        <h2 class="footer_title u-sr-only">Footer</h2>
        <div class="footer_contain u-container">
          <div data-medium-columns="1" class="footer_layout u-grid-custom">
            <div class="footer_content">
              <a li-object:href="routes.root_url" aria-label="Go to the homepage" href="{{ routes.root_url }}" class="footer_logo_wrap w-inline-block">{% if section.settings.image_logo %}
{{ section.settings.image_logo | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'footer_logo_img' }}
{% else %}
<img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="footer_logo_img">
{% endif %}</a>
              <div class="footer_social_wrap">
                <h3 class="footer_social_title u-text-style-h6 u-margin-bottom-4">
{{ section.settings.text_follow_us }}
</h3>
                <div role="list" class="footer_social_list">
                  {% for block in section.blocks %}
    {% if block.type == "social-media" %}
                    <div role="listitem" li-block="Social-Media" class="footer_social_item">
                                    
                    
                                    <a href="{{ block.settings.url_link }}" target="_blank" class="footer_social_link w-inline-block"> {% if block.settings.image_icon %} {{ block.settings.image_icon | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'footer_social_img' }} {% else %} <img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="footer_social_img"> {% endif %} </a>
                                    
                  
                            </div>
            {% endif %}
{% endfor %}
                </div>
              </div>
              <div class="footer_certifications_wrap">
                <div class="footer_certifications_row">
                  {% for block in section.blocks %}
    {% if block.type == "certification" %}
                    <div li-block="Certification" class="footer_certifications_item u-position-relative">
                                    {% if block.settings.image_image %}
{{ block.settings.image_image | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'footer_certifications_img' }}
{% else %}
<img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="footer_certifications_img">
{% endif %}
                            </div>
            {% endif %}
{% endfor %}
                </div>
              </div>
            </div>
            <div data-wf--grid--variant="default" style="" class="u-grid-wrapper u-gap-row-7 u-column-span-8" data-number="12">
              <div role="navigation" data-large-columns="4" data-medium-columns="0" data-small-columns="2" data-xsmall-columns="1" class="u-grid">
                {% for link in linklists[section.settings.footer_menu].links %}    <section li-for="link in linklists[section.settings.footer_menu].links" class="footer_group_wrap">
                                    
                  
                            <h3 li-object="link.title" class="footer_group_title u-text-style-h5 u-margin-bottom-text u-weight-bold">{{ link.title }}</h3>
                            
                  
                            <div li-for:inside="child_link in link.links" role="list" class="footer_group_list">
        {% for child_link in link.links %}                            
                    
                            <div role="listitem" class="footer_group_item">
                      <a li-object="child_link.title" li-object:href="child_link.url" href="{{ child_link.url }}" class="footer_link_text u-text-style-h6 u-weight-medium">{{ child_link.title }}</a>
                    </div>
                            
                  
                    {% endfor %}    </div>
                            
                
                        </section>
{% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="footer_middle_wrap">
          <div class="footer_middle_contain u-container">
            <div class="footer_middle_layout">
              <div class="footer_icon_block">
                <div class="footer_icon_title u-text-style-h6">
{{ section.settings.text_delivery }}
</div>
                <div class="footer_icon_row">
                  {% for block in section.blocks %}
    {% if block.type == "shipping" %}
                    <div li-block="Shipping" class="footer_icon_item">
                                    {% if block.settings.image_icon %}
{{ block.settings.image_icon | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'footer_payment_icon' }}
{% else %}
<img loading="lazy" alt="" src="{{ 'payment.svg' | asset_url }}" class="footer_payment_icon">
{% endif %}
                            </div>
            {% endif %}
{% endfor %}
                </div>
              </div>
              {% if enabled_payment_types.length > 0 %}    <div li-if="enabled_payment_types.length > 0" class="footer_icon_block">
    
                <div class="footer_icon_title u-text-style-h6">
{{ section.settings.text_payment_method }}
</div>
                <ul role="list" class="footer_payment_list">
                  {% for type in shop.enabled_payment_types %}    <li li-for="type in shop.enabled_payment_types" class="footer_payment_item">
                                    
                    
                            <div li-object="type | payment_type_svg_tag: class: 'footer_payment_img icon--full-color'" class="footer_payment_svg">{{ type | payment_type_svg_tag: class: 'footer_payment_img icon--full-color' }}</div>
                            
                  
                        </li>
{% endfor %}
                </ul>
                  </div>
{% endif %}{% if localization.available_languages.size > 1 %}    <localization-form li-if="localization.available_languages.size > 1" class="li-lang_wrapper">
    
                {% form 'localization', class: 'li-lang_form' %}
<div data-delay="500" data-hover="true" class="li-lang_dropdown w-dropdown">
                    <div lang="{{ localization.language.iso_code }}" class="li-lang_dd-toggle w-dropdown-toggle">
                      <div li-object="localization.language.endonym_name | capitalize" class="li-lang_dd-txt u-text-style-h6">{{ localization.language.endonym_name | capitalize }}</div>
                      <div class="li-lang_dd-toggle-icon w-embed"><svg width=" 100%" height=" 100%" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path clip-rule="evenodd" d="M2.55806 6.29544C2.46043 6.19781 2.46043 6.03952 2.55806 5.94189L3.44195 5.058C3.53958 4.96037 3.69787 4.96037 3.7955 5.058L8.00001 9.26251L12.2045 5.058C12.3021 4.96037 12.4604 4.96037 12.5581 5.058L13.4419 5.94189C13.5396 6.03952 13.5396 6.19781 13.4419 6.29544L8.17678 11.5606C8.07915 11.6582 7.92086 11.6582 7.82323 11.5606L2.55806 6.29544Z" fill="currentColor"></path>
                        </svg></div>
                    </div>
                    <nav li-for:inside="language in localization.available_languages" class="li-lang_dd-list w-dropdown-list">
        {% for language in localization.available_languages %}                            
                      
                            {% unless localization.language.iso_code == language.iso_code %}    <div li-unless="localization.language.iso_code == language.iso_code" class="li-lang_dd-list-item">
    
                        <a href="#" li-object="language.endonym_name | capitalize" lang="{{ language.iso_code }}" hreflang="{{ language.iso_code }}" data-value="{{ language.iso_code }}" class="li-lang_dd-link u-text-style-h6 w-dropdown-link">{{ language.endonym_name | capitalize }}</a>
                          </div>
{% endunless %}
                            
                    
                    {% endfor %}    </nav>
                  </div><input type="hidden" name="language_code" class="li-lang_hidden-input" value="{{ localization.language.iso_code }}">
                {% endform %}
                <div class="li-lang_script w-embed w-script">
                  <script>
class LocalizationForm extends HTMLElement {
  constructor() {
    super();
    this.input = this.querySelector('input[name="language_code"], input[name="country_code"]');
    this.querySelectorAll('a').forEach(item =>
      item.addEventListener('click', this.onItemClick.bind(this))
    );
  }
  onItemClick(event) {
    event.preventDefault();
    const form = this.querySelector('form');
    this.input.value = event.currentTarget.dataset.value;
    if (form) form.submit();
  }
}
customElements.define('localization-form', LocalizationForm);
</script>
                </div>
                  </localization-form>
{% endif %}
            </div>
          </div>
        </div>
        <div class="footer_bottom_wrap">
          <div class="footer_bottom_contain u-container">
            <div class="footer_bottom_layout">
              <div role="list" li-for:inside="link in linklists[section.settings.legal_menu].links" class="footer_bottom_list">
        {% for link in linklists[section.settings.legal_menu].links %}                            
                
                            <a role="listitem" li-object:href="link.url" li-object="link.title" href="{{ link.url }}" class="footer_bottom_text u-text-style-h6 u-weight-medium">{{ link.title }}</a>
                            
              
                    {% endfor %}    </div>
              <div class="footer_bottom_text u-text-style-h6 u-weight-medium"><span>
{{ section.settings.text_symbol }}
</span><span data-dynamic-year=" ">{{year}}</span><span>
{{ section.settings.text_copyright }}
</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="u-embed-js w-embed w-script">
        <script>
document.addEventListener("DOMContentLoaded", function () {
  document.querySelectorAll("[data-dynamic-year]").forEach(function (el) {
    el.textContent = new Date().getFullYear();
  });
});
</script>
      </div> {% schema %} {
    "tag": "footer",
    "name": "Footer",
    "class": "footer_wrap",
    "blocks": [
        {
            "name": "Social-Media",
            "type": "social-media",
            "settings": [
                {
                    "id": "url_link",
                    "type": "url",
                    "label": "Link"
                },
                {
                    "id": "image_icon",
                    "type": "image_picker",
                    "label": "Icon"
                }
            ]
        },
        {
            "name": "Certification",
            "type": "certification",
            "settings": [
                {
                    "id": "image_image",
                    "type": "image_picker",
                    "label": "Image"
                }
            ]
        },
        {
            "name": "Shipping",
            "type": "shipping",
            "settings": [
                {
                    "id": "image_icon",
                    "type": "image_picker",
                    "label": "Icon"
                }
            ]
        }
    ],
    "settings": [
        {
            "id": "image_border",
            "type": "image_picker",
            "label": "Border"
        },
        {
            "id": "image_logo",
            "type": "image_picker",
            "label": "Logo"
        },
        {
            "id": "text_follow_us",
            "type": "text",
            "label": "Follow us",
            "default": "Follow us"
        },
        {
            "id": "text_delivery",
            "type": "text",
            "label": "Delivery",
            "default": "Delivery"
        },
        {
            "id": "text_payment_method",
            "type": "text",
            "label": "Payment Method",
            "default": "Payment Method"
        },
        {
            "id": "text_symbol",
            "type": "text",
            "label": "Symbol",
            "default": "\u00a9 "
        },
        {
            "id": "text_copyright",
            "type": "text",
            "label": "Copyright",
            "default": "\u00a0Copyright. All Rights Reserved."
        },
        {
            "type": "header",
            "content": "Theme"
        },
        {
            "type": "select",
            "id": "color_theme",
            "label": "Color Theme",
            "default": "",
            "options": [
                {
                    "label": "Inherit",
                    "value": ""
                },
                {
                    "label": "Dark",
                    "value": "u-theme-dark"
                },
                {
                    "label": "Light",
                    "value": "u-theme-light"
                },
                {
                    "label": "Brand",
                    "value": "u-theme-brand"
                }
            ]
        },
        {
            "type": "header",
            "content": "Navigation"
        },
        {
            "type": "link_list",
            "id": "footer_menu",
            "label": "Footer Menu",
            "default": "footer"
        },
        {
            "type": "link_list",
            "id": "legal_menu",
            "label": "Legal Menu"
        }
    ],
    "presets": [
        {
            "name": "Footer",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "social-media"
                },
                {
                    "type": "certification"
                },
                {
                    "type": "shipping"
                }
            ]
        }
    ],
    "enabled_on": {
        "groups": [
            "*"
        ]
    }
} {% endschema %}