<div class="u-embed-css w-embed">
          <style>
@container ( width < 30em ) {
	.reviews_static_item {
  	padding: 1rem !important;
  }
}
</style>
        </div>
        <div class="u-section-inner {{section.settings.color_theme}}">
          <div data-wf--spacer--variant="main" class="u-section-spacer u-ignore-trim {{section.settings.padding_top}}"></div>
          <div class="reviews_static_contain u-container">
            <div class="reviews_static_layout u-flex-vertical-nowrap u-gap-8">
              <div class="reviews_static_header_master u-alignment-center">
                <div class="reviews_static_header_star_wrap u-flex-horizontal-nowrap u-margin-bottom-2"><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewbox="0 0 19 18" fill="none" class="reviews_static_star">
                    <path d="M8.38585 0.690984C8.68521 -0.230327 9.98861 -0.230328 10.288 0.690982L11.8066 5.36474C11.9404 5.77677 12.3244 6.05573 12.7576 6.05573H17.6719C18.6406 6.05573 19.0434 7.29534 18.2597 7.86474L14.284 10.7533C13.9335 11.0079 13.7868 11.4593 13.9207 11.8713L15.4393 16.5451C15.7386 17.4664 14.6841 18.2325 13.9004 17.6631L9.9247 14.7746C9.57421 14.5199 9.09961 14.5199 8.74913 14.7746L4.77339 17.6631C3.98967 18.2325 2.93519 17.4664 3.23454 16.5451L4.75314 11.8713C4.88702 11.4593 4.74036 11.0079 4.38987 10.7533L0.414132 7.86475C-0.369582 7.29534 0.0331932 6.05573 1.00192 6.05573H5.9162C6.34943 6.05573 6.73338 5.77677 6.86726 5.36474L8.38585 0.690984Z" fill="currentColor"></path>
                  </svg><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewbox="0 0 19 18" fill="none" class="reviews_static_star">
                    <path d="M8.38585 0.690984C8.68521 -0.230327 9.98861 -0.230328 10.288 0.690982L11.8066 5.36474C11.9404 5.77677 12.3244 6.05573 12.7576 6.05573H17.6719C18.6406 6.05573 19.0434 7.29534 18.2597 7.86474L14.284 10.7533C13.9335 11.0079 13.7868 11.4593 13.9207 11.8713L15.4393 16.5451C15.7386 17.4664 14.6841 18.2325 13.9004 17.6631L9.9247 14.7746C9.57421 14.5199 9.09961 14.5199 8.74913 14.7746L4.77339 17.6631C3.98967 18.2325 2.93519 17.4664 3.23454 16.5451L4.75314 11.8713C4.88702 11.4593 4.74036 11.0079 4.38987 10.7533L0.414132 7.86475C-0.369582 7.29534 0.0331932 6.05573 1.00192 6.05573H5.9162C6.34943 6.05573 6.73338 5.77677 6.86726 5.36474L8.38585 0.690984Z" fill="currentColor"></path>
                  </svg><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewbox="0 0 19 18" fill="none" class="reviews_static_star">
                    <path d="M8.38585 0.690984C8.68521 -0.230327 9.98861 -0.230328 10.288 0.690982L11.8066 5.36474C11.9404 5.77677 12.3244 6.05573 12.7576 6.05573H17.6719C18.6406 6.05573 19.0434 7.29534 18.2597 7.86474L14.284 10.7533C13.9335 11.0079 13.7868 11.4593 13.9207 11.8713L15.4393 16.5451C15.7386 17.4664 14.6841 18.2325 13.9004 17.6631L9.9247 14.7746C9.57421 14.5199 9.09961 14.5199 8.74913 14.7746L4.77339 17.6631C3.98967 18.2325 2.93519 17.4664 3.23454 16.5451L4.75314 11.8713C4.88702 11.4593 4.74036 11.0079 4.38987 10.7533L0.414132 7.86475C-0.369582 7.29534 0.0331932 6.05573 1.00192 6.05573H5.9162C6.34943 6.05573 6.73338 5.77677 6.86726 5.36474L8.38585 0.690984Z" fill="currentColor"></path>
                  </svg><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewbox="0 0 19 18" fill="none" class="reviews_static_star">
                    <path d="M8.38585 0.690984C8.68521 -0.230327 9.98861 -0.230328 10.288 0.690982L11.8066 5.36474C11.9404 5.77677 12.3244 6.05573 12.7576 6.05573H17.6719C18.6406 6.05573 19.0434 7.29534 18.2597 7.86474L14.284 10.7533C13.9335 11.0079 13.7868 11.4593 13.9207 11.8713L15.4393 16.5451C15.7386 17.4664 14.6841 18.2325 13.9004 17.6631L9.9247 14.7746C9.57421 14.5199 9.09961 14.5199 8.74913 14.7746L4.77339 17.6631C3.98967 18.2325 2.93519 17.4664 3.23454 16.5451L4.75314 11.8713C4.88702 11.4593 4.74036 11.0079 4.38987 10.7533L0.414132 7.86475C-0.369582 7.29534 0.0331932 6.05573 1.00192 6.05573H5.9162C6.34943 6.05573 6.73338 5.77677 6.86726 5.36474L8.38585 0.690984Z" fill="currentColor"></path>
                  </svg><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewbox="0 0 19 18" fill="none" class="reviews_static_star">
                    <path d="M8.38585 0.690984C8.68521 -0.230327 9.98861 -0.230328 10.288 0.690982L11.8066 5.36474C11.9404 5.77677 12.3244 6.05573 12.7576 6.05573H17.6719C18.6406 6.05573 19.0434 7.29534 18.2597 7.86474L14.284 10.7533C13.9335 11.0079 13.7868 11.4593 13.9207 11.8713L15.4393 16.5451C15.7386 17.4664 14.6841 18.2325 13.9004 17.6631L9.9247 14.7746C9.57421 14.5199 9.09961 14.5199 8.74913 14.7746L4.77339 17.6631C3.98967 18.2325 2.93519 17.4664 3.23454 16.5451L4.75314 11.8713C4.88702 11.4593 4.74036 11.0079 4.38987 10.7533L0.414132 7.86475C-0.369582 7.29534 0.0331932 6.05573 1.00192 6.05573H5.9162C6.34943 6.05573 6.73338 5.77677 6.86726 5.36474L8.38585 0.690984Z" fill="currentColor"></path>
                  </svg></div>
                <div class="reviews_static_header_tag u-text-style-h6 u-text-transform-uppercase u-margin-bottom-4">
{{ section.settings.text_top_tag }}
</div>
                <div class="reviews_static_header_wrap">
                  <div class="reviews_static_header_txt u-text-style-h3 u-weight-bold u-margin-inline-auto w-richtext" style="max-width: {{ section.settings.header_max_width | append: 'em' }};"> {{ section.settings.richtext_header }} </div>
                </div>
              </div>
              <div class="reviews_static_item_master u-grid-autofill">
                {% for block in section.blocks %}
    {% if block.type == "static-review" %}
                    <div li-block="Static Review" class="reviews_static_item u-flex-horizontal-nowrap u-gap-4 u-align-items-stretch u-position-relative">
                                    
                  
                                    <div class="clickable_wrap u-cover-absolute">
                    <a li-settings-a:target="" class="clickable_link" href="{{ block.settings.url_link }}"> <span class="clickable_text u-sr-only">{{ block.settings.text_screen_reader }}</span> </a><button type="button" class="clickable_btn"><span class="clickable_text u-sr-only">
{{ block.settings.text_screen_reader }}
</span></button>
                  </div>
                                    
                  
                                    <div class="reviews_static_img_wrap u-position-relative">{% if block.settings.image_image %}
{{ block.settings.image_image | image_url: width: 125 | image_tag: loading: 'lazy', class: 'reviews_static_img u-cover-absolute' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'reviews_static_img u-cover-absolute' }} 
{% endif %}</div>
                                    
                  
                                    <div class="reviews_static_content_wrap u-flex-vertical-nowrap u-justify-content-between u-gap-2 u-flex-grow">
                    <div class="reviews_static_top_wrap">
                      <div class="reviews_static_star_wrap u-flex-horizontal-nowrap u-margin-bottom-2"><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewbox="0 0 19 18" fill="none" class="reviews_static_star">
                          <path d="M8.38585 0.690984C8.68521 -0.230327 9.98861 -0.230328 10.288 0.690982L11.8066 5.36474C11.9404 5.77677 12.3244 6.05573 12.7576 6.05573H17.6719C18.6406 6.05573 19.0434 7.29534 18.2597 7.86474L14.284 10.7533C13.9335 11.0079 13.7868 11.4593 13.9207 11.8713L15.4393 16.5451C15.7386 17.4664 14.6841 18.2325 13.9004 17.6631L9.9247 14.7746C9.57421 14.5199 9.09961 14.5199 8.74913 14.7746L4.77339 17.6631C3.98967 18.2325 2.93519 17.4664 3.23454 16.5451L4.75314 11.8713C4.88702 11.4593 4.74036 11.0079 4.38987 10.7533L0.414132 7.86475C-0.369582 7.29534 0.0331932 6.05573 1.00192 6.05573H5.9162C6.34943 6.05573 6.73338 5.77677 6.86726 5.36474L8.38585 0.690984Z" fill="currentColor"></path>
                        </svg><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewbox="0 0 19 18" fill="none" class="reviews_static_star">
                          <path d="M8.38585 0.690984C8.68521 -0.230327 9.98861 -0.230328 10.288 0.690982L11.8066 5.36474C11.9404 5.77677 12.3244 6.05573 12.7576 6.05573H17.6719C18.6406 6.05573 19.0434 7.29534 18.2597 7.86474L14.284 10.7533C13.9335 11.0079 13.7868 11.4593 13.9207 11.8713L15.4393 16.5451C15.7386 17.4664 14.6841 18.2325 13.9004 17.6631L9.9247 14.7746C9.57421 14.5199 9.09961 14.5199 8.74913 14.7746L4.77339 17.6631C3.98967 18.2325 2.93519 17.4664 3.23454 16.5451L4.75314 11.8713C4.88702 11.4593 4.74036 11.0079 4.38987 10.7533L0.414132 7.86475C-0.369582 7.29534 0.0331932 6.05573 1.00192 6.05573H5.9162C6.34943 6.05573 6.73338 5.77677 6.86726 5.36474L8.38585 0.690984Z" fill="currentColor"></path>
                        </svg><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewbox="0 0 19 18" fill="none" class="reviews_static_star">
                          <path d="M8.38585 0.690984C8.68521 -0.230327 9.98861 -0.230328 10.288 0.690982L11.8066 5.36474C11.9404 5.77677 12.3244 6.05573 12.7576 6.05573H17.6719C18.6406 6.05573 19.0434 7.29534 18.2597 7.86474L14.284 10.7533C13.9335 11.0079 13.7868 11.4593 13.9207 11.8713L15.4393 16.5451C15.7386 17.4664 14.6841 18.2325 13.9004 17.6631L9.9247 14.7746C9.57421 14.5199 9.09961 14.5199 8.74913 14.7746L4.77339 17.6631C3.98967 18.2325 2.93519 17.4664 3.23454 16.5451L4.75314 11.8713C4.88702 11.4593 4.74036 11.0079 4.38987 10.7533L0.414132 7.86475C-0.369582 7.29534 0.0331932 6.05573 1.00192 6.05573H5.9162C6.34943 6.05573 6.73338 5.77677 6.86726 5.36474L8.38585 0.690984Z" fill="currentColor"></path>
                        </svg><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewbox="0 0 19 18" fill="none" class="reviews_static_star">
                          <path d="M8.38585 0.690984C8.68521 -0.230327 9.98861 -0.230328 10.288 0.690982L11.8066 5.36474C11.9404 5.77677 12.3244 6.05573 12.7576 6.05573H17.6719C18.6406 6.05573 19.0434 7.29534 18.2597 7.86474L14.284 10.7533C13.9335 11.0079 13.7868 11.4593 13.9207 11.8713L15.4393 16.5451C15.7386 17.4664 14.6841 18.2325 13.9004 17.6631L9.9247 14.7746C9.57421 14.5199 9.09961 14.5199 8.74913 14.7746L4.77339 17.6631C3.98967 18.2325 2.93519 17.4664 3.23454 16.5451L4.75314 11.8713C4.88702 11.4593 4.74036 11.0079 4.38987 10.7533L0.414132 7.86475C-0.369582 7.29534 0.0331932 6.05573 1.00192 6.05573H5.9162C6.34943 6.05573 6.73338 5.77677 6.86726 5.36474L8.38585 0.690984Z" fill="currentColor"></path>
                        </svg><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewbox="0 0 19 18" fill="none" class="reviews_static_star">
                          <path d="M8.38585 0.690984C8.68521 -0.230327 9.98861 -0.230328 10.288 0.690982L11.8066 5.36474C11.9404 5.77677 12.3244 6.05573 12.7576 6.05573H17.6719C18.6406 6.05573 19.0434 7.29534 18.2597 7.86474L14.284 10.7533C13.9335 11.0079 13.7868 11.4593 13.9207 11.8713L15.4393 16.5451C15.7386 17.4664 14.6841 18.2325 13.9004 17.6631L9.9247 14.7746C9.57421 14.5199 9.09961 14.5199 8.74913 14.7746L4.77339 17.6631C3.98967 18.2325 2.93519 17.4664 3.23454 16.5451L4.75314 11.8713C4.88702 11.4593 4.74036 11.0079 4.38987 10.7533L0.414132 7.86475C-0.369582 7.29534 0.0331932 6.05573 1.00192 6.05573H5.9162C6.34943 6.05573 6.73338 5.77677 6.86726 5.36474L8.38585 0.690984Z" fill="currentColor"></path>
                        </svg></div>
                      <div class="reviews_static_title_wrap u-margin-bottom-3">
                        <div class="reviews_static_title_txt u-text-style-large u-weight-bold">
{{ block.settings.text_title }}
</div>
                      </div>
                    </div>
                    <div class="reviews_static_bottom_wrap">
                      <div class="reviews_static_review_wrap u-margin-bottom-2">
                        <p class="reviews_static_review_txt u-text-style-main"> {{ block.settings.textarea_paragraph }} </p>
                      </div>
                      <div class="reviews_static_author_wrap">
                        <div class="reviews_static_author_txt u-text-style-main u-weight-medium">- <span class="reviews_static_author_span">
{{ block.settings.text_author }}
</span></div>
                      </div>
                    </div>
                  </div>
                                    
                
                            </div>
            {% endif %}
{% endfor %}
              </div>
            </div>
          </div>
          <div data-wf--spacer--variant="main" class="u-section-spacer u-ignore-trim {{section.settings.padding_bottom}}"></div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Static Reviews",
    "class": "reviews_static_wrap u-section",
    "blocks": [
        {
            "name": "Static Review",
            "type": "static-review",
            "settings": [
                {
                    "id": "url_link",
                    "type": "url",
                    "label": "Link"
                },
                {
                    "id": "text_screen_reader",
                    "type": "text",
                    "label": "Screen Reader",
                    "default": "Lorem Ipsum"
                },
                {
                    "id": "image_image",
                    "type": "image_picker",
                    "label": "Image"
                },
                {
                    "id": "text_title",
                    "type": "text",
                    "label": "Title",
                    "default": "Bison Stick Bundle"
                },
                {
                    "id": "textarea_paragraph",
                    "type": "textarea",
                    "label": "Paragraph",
                    "default": "Lovely flavor and helps keep the hunger pangs away during workouts."
                },
                {
                    "id": "text_author",
                    "type": "text",
                    "label": "Author",
                    "default": "Name"
                }
            ]
        }
    ],
    "settings": [
        {
            "id": "text_top_tag",
            "type": "text",
            "label": "Top Tag",
            "default": "4.7 Review Average"
        },
        {
            "id": "richtext_header",
            "type": "richtext",
            "label": "Header",
            "default": "<p>\n                    Over 5 Million ICON Meats Eaters\n                  <\/p>"
        },
        {
            "type": "header",
            "content": "Padding Top"
        },
        {
            "type": "select",
            "id": "padding_top",
            "label": "Padding Top",
            "default": "w-variant-60a7ad7d-02b0-6682-95a5-2218e6fd1490",
            "options": [
                {
                    "label": "Inherit",
                    "value": ""
                },
                {
                    "label": "None",
                    "value": "u-section-spacer"
                },
                {
                    "label": "Small",
                    "value": "w-variant-d422cbd0-f212-c815-68df-63414354c21d"
                },
                {
                    "label": "Even",
                    "value": "w-variant-41fc0c0a-cac3-53c9-9802-6a916e3fb342"
                },
                {
                    "label": "Main",
                    "value": "w-variant-60a7ad7d-02b0-6682-95a5-2218e6fd1490"
                },
                {
                    "label": "Large",
                    "value": "w-variant-8cc18b30-4618-8767-0111-f6abfe45aaa3"
                },
                {
                    "label": "Page Top",
                    "value": "w-variant-e359d2da-de19-6775-b122-3e06f925f39e"
                }
            ]
        },
        {
            "type": "header",
            "content": "Padding Bottom"
        },
        {
            "type": "select",
            "id": "padding_bottom",
            "label": "Padding Bottom",
            "default": "w-variant-60a7ad7d-02b0-6682-95a5-2218e6fd1490",
            "options": [
                {
                    "label": "Inherit",
                    "value": ""
                },
                {
                    "label": "None",
                    "value": "u-section-spacer"
                },
                {
                    "label": "Small",
                    "value": "w-variant-d422cbd0-f212-c815-68df-63414354c21d"
                },
                {
                    "label": "Even",
                    "value": "w-variant-41fc0c0a-cac3-53c9-9802-6a916e3fb342"
                },
                {
                    "label": "Main",
                    "value": "w-variant-60a7ad7d-02b0-6682-95a5-2218e6fd1490"
                },
                {
                    "label": "Large",
                    "value": "w-variant-8cc18b30-4618-8767-0111-f6abfe45aaa3"
                },
                {
                    "label": "Page Top",
                    "value": "w-variant-e359d2da-de19-6775-b122-3e06f925f39e"
                }
            ]
        },
        {
            "type": "header",
            "content": "Theme"
        },
        {
            "type": "select",
            "id": "color_theme",
            "label": "Color Theme",
            "default": "",
            "options": [
                {
                    "label": "Inherit",
                    "value": ""
                },
                {
                    "label": "Dark",
                    "value": "u-theme-dark"
                },
                {
                    "label": "Light",
                    "value": "u-theme-light"
                },
                {
                    "label": "Brand",
                    "value": "u-theme-brand"
                }
            ]
        },
        {
            "type": "header",
            "content": "Header Max Width"
        },
        {
            "type": "range",
            "id": "header_max_width",
            "label": "header-max-width",
            "default": 50,
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "em"
        }
    ],
    "presets": [
        {
            "name": "Static Reviews",
            "category": "Reviews",
            "blocks": [
                {
                    "type": "static-review"
                }
            ]
        }
    ],
    "enabled_on": {
        "templates": [
            "*"
        ]
    }
} {% endschema %}